:root {
    --primary-color: #EEF5FC;
    --secondary-color: #C7D6E2;
    --tertiary-color: #4088C7;
    --quaternary-color: #2069A8;
    --black: #1F1F1F;
    --gray: #DDDDDD;
    --light-gray: #EEEEEE;
    --dark-secondary-color: #ABBCCA;
}
